.filter-bar {
    padding: 0px 10px;
}

.user-list-btn {
    margin: auto;
}

.user-list-btn:hover {
  text-decoration: none;
}

.operation-btn {
    margin: 5px;
}

.detail-row {
  height: 30px;
}

.row{
    display: flex;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    margin-right: -12px;
    margin-left: -12px;
}